{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Метки' %}</h1>
<a class="nav-link" href="{% url 'labels:create' %}">{% translate 'Создать метку' %}</a>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>{% translate 'Имя' %}</th>
      <th>{% translate 'Дата создания' %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for label in labels %}
    <tr>
      <th>{{ label.id }}</th>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at | date:'d.m.Y H:i' }}</td>
      <td>
        <a href="{% url 'labels:update' label.id %}">{% translate 'Изменить' %}</a><br>
        <a href="{% url 'labels:delete' label.id %}">{% translate 'Удалить' %}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
