{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block bootstrap4_title %}{% translate 'Менеджер задач' %}{% endblock %}

{% block bootstrap4_content %}
<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="{% url 'home' %}">{% translate 'Менеджер задач' %}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:list' %}">{% translate 'Пользователи' %}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">{% translate 'Вход' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{% translate 'Регистрация' %}</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <div class="container my-5 pt-4 border-top">
      <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
  </footer>
</div>
{% bootstrap_javascript jquery='full' %}
{% endblock %}
